.input {
  display: flex;
  flex-direction: column;
  max-width: 256px;
  width: 100%;

  &__control {
    line-height: 1.4;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 3px;
  }
  &__label {
    margin-top: 0;
    margin-bottom: .25rem;
    cursor: pointer;
    user-select: none;
    &_required {
      &::after {
        content: '*';
      }
    }
  }
  @media (max-width: 700px) {
    max-width: 100%;
  }
  &__errors {
    color: #d05555;
    margin-top: .2rem;
  }
}
