.input-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
  &__title {
    height: 3.2rem;
  }
  &_fio {

    .input {
      flex: 1 1 100%
    }

    margin-bottom: 1rem;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  &_document {
    h3 {
      margin: 0;
    }
  }

  &_phone {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1rem;
    .input:last-child {
      padding-top: 1.7rem;
    }
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_address {
    .col {
      max-width: 256px;
      width: 100%;
    }
    .input {
      position: relative;
      padding-bottom: .6rem;
      &__errors {
        position: absolute;
        bottom: -.8rem;
      }
    }
    @media (max-width: 700px) {
      flex-direction: column;
      .col {
        max-width: 100%;
      }
    }
  }

  &_row {
    flex-direction: row;
    column-gap: 1rem;
    align-items: flex-end;
  }
  &_condensed {
    .input {
      max-width: initial;
      width: auto;
    }
  }

  &_list {
    row-gap: .5rem;
  }
}
.options-group {
  &__name {
    margin-bottom: .25rem;
  }
  &_row {
    display: flex;
  }
}
